name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    strategy:
      matrix:
        include:
          - goarch: amd64
            goos: linux
          - goarch: arm64
            goos: linux
          - goarch: s390x
            goos: linux

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Build
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
          CGO_ENABLED: 0
        run: |
          mkdir -p x-ui/bin
          go build -v -trimpath -ldflags "-s -w -X x-ui/config.version=${{ github.ref_name }}" -o x-ui/x-ui main.go
          cp x-ui.sh x-ui/
          cp x-ui.service x-ui/
          tar -czvf x-ui-linux-${{ matrix.goarch }}.tar.gz x-ui

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: x-ui-linux-${{ matrix.goarch }}.tar.gz